<div class="text-center">
    <h1 class="display-4 mb-4">Välkommen till</h1>
    <div class="mx-auto text-white" style="max-width: 55%">
        <img src="/img/logotype-black.png" class="img-fluid mx-auto" style="max-width: 95%" alt="Informatik-logga">
    </div>
    <p class="my-5">
        Detta är vårt kommunikationssystem!
        <br>
        Här finns all funktionalitet för dig som är lärare på Informatik.
    </p>
    <h1 class="display-4 my-4">Funktionalitet</h1>
    <div class="card-deck mb-3 text-center">
        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Blogg</h4>
            </div>
            <div class="card-body">
                <ul class="list-unstyled mt-3 mb-4">
                    <li>Formell blogg</li>
                    <li>Informell blogg</li>
                    <li>Hantera kategorier</li>
                </ul>
                <a href="/BlogPosts" class="btn btn-lg btn-block btn-outline-primary">Läs bloggen</a>
            </div>
        </div>
        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Utveckling</h4>
            </div>
            <div class="card-body">
                <ul class="list-unstyled mt-3 mb-4">
                    <li>Forskning</li>
                    <li>Utbildning</li>
                    <li>Hantera projekt</li>
                </ul>
                <a href="/Development" class="btn btn-lg btn-block btn-outline-primary">Se nuvarande projekt</a>
            </div>
        </div>
        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Möten</h4>
            </div>
            <div class="card-body">
                <ul class="list-unstyled mt-3 mb-4">
                    <li>Kalender</li>
                    <li>Skapa kallelser</li>
                    <li>Hantera inbjudningar</li>
                </ul>
                <a href="/Meeting" class="btn btn-lg btn-block btn-outline-primary">Kolla in kalendern</a>
            </div>
        </div>
    </div>
</div>