<h1>@ViewData["Title"]</h1>

<p class="mt-3">
    Du är alltid välkommen att kontakta vår support via: <br />
    <a href="mailto:team8communication@outlook.com">team8communication@outlook.com</a>
</p>
<p class="mt-3">Vi hoppas kunna lösa ditt fel snabbt och smidigt!</p>